<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Skills Challenge Bonus</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <navbar></navbar>
        <div class="container pt-4">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <div>
                        <label for="name">Name</label>
                        <input id="name" type="text" v-model="nameInput"
                            :style="{ borderColor: /[!%^$/]/g.test(nameInput) ? 'red' : '' }" />
                    </div>
                    <div>
                        <label for="age">Age</label>
                        <select id="age" v-model="ageInput">
                            <option v-for="age in ages" :key="age">{{ age }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="navbar">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container">
                    <span class="navbar-brand mb-0 h1">Skill Challenge</span>
                </div>
            </nav>
        </header>
    </template>

    <script>
        Vue.component("navbar", { template: "#navbar" });

        const ages = Array.from(new Array(15), (x, i) => i + 21);

        var app = new Vue({
            el: "#app",
            data: {
                nameInput: "",
                ageInput: "",
                ages
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>